.expense {
	width: 98%;
	margin: 10px 10px;
	height: 12vh;
	border: 1px solid #001e1d;
	border-radius: 5px;
	background-color: #f9bc60;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.income {
	width: 98%;
	margin: 10px 10px;
	height: 12vh;
	border: 1px solid #001e1d;
	border-radius: 5px;
	background-color: #61c43a;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.expense-item__cat-icon {
	margin: 10px;
	border-radius: 50%;
	background-color: #e16162;
	height: 70px;
	width: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	color: #fffffe;
	font-size: 35px;
}

.expense-item__price-div {
	color: #fffffe;
}

.expense-item__price {
	font-size: 3.5vh;
}

.expense-item__note {
	margin-left: 0.6em;
	font-size: 2.1vh;
}

.expense-item__time-div {
	font-size: 3.5vh;
	position: absolute;
	right: 30px;
	color: #fffffe;
}

.expense-item__time {
	text-align: end;
}

@media (max-width: 786px) {
	.expense-item__time-div {
		right: 10px;
		font-size: 14px;
	}
	.income,
	.expense {
		width: 96%;
		height: 60px;
	}

	.expense-item__cat-icon {
		height: 40px;
		width: 40px;
		font-size: 18px;
	}

	.expense-item__price {
		font-size: 17px;
	}

	.expense-item__note {
		font-size: 12px;
	}
}
